body{
    background-color:#191A19;
    width: 30%;
    margin-left: 38%;
}
.system{
    color: greenyellow;
    font-size: 30px;
}
.lottery{
    color: greenyellow;
    font-size: 20px;
}
button{
    background-color: black;
    color: azure;
    border: 2px green solid;
    margin: 5px 5px 5px 0;
    width: 250px;
    height: 60px;
    font-size: 30px;
}
label.lottery{
    font-size: 20px;
}